<h1> Hello my name is <%= @user.name %></h1>
<%=gravatar_image_tag(@user.email, :class => "avatar", :gravatar => { :default => '/images/gravatar-80.gif' })%>
<div id="user_desc">
	I'm <% if @user.role == 'both'%> a developer and a designer<%else%> a <%= @user.role%><%end%>.<br/>	
</div>
<a href="http://twitter.com/<%=@user.twitter_name%>"><%= image_tag 'twit.png', :class =>'twitter'%></a>
<%= link_to 'Home', root_path %>
