<h1> Hello my name is <%= @user.name %></h1>
<div class=user_card>
<%=gravatar_image_tag(@user.email, :class => "avatar")%>
<div class="desc">
I'm <% if @user.role == 'both'%> a developer and a designer<%else%> a <%= @user.role%><%end%>.<br/>
	<div class="twitter">
		<a href="http://twitter.com/<%=@user.twitter_name%>"><%= image_tag 'twit.png'%></a>
	</div>
</div>
</div>
<% unless @user.events.future.empty?%>
<strong>Attending to</strong>
<ul class=list>
<% @user.events.future.each do |event| %>
  <li><span class=event><%= link_to event.title, event %> </span><span class="role"> - <%= event.event_day.strftime '%d/%m/%y %I:%M' %></span></li>
<% end %>
</ul>
<%end%>
<% unless @user.events.past.empty?%>
<strong>Attended to</strong>
<ul class=list>
<% @user.events.past.each do |event| %>
  <li><span class=event><%= link_to event.title, event %> </span><span class="role"> - <%= event.event_day.strftime '%d/%m/%y %I:%M' %></span></li>
<% end %>
</ul>
<%end%>
