<div class=main>
  <h2>Future Events</h2>
  <ul>
    <% @events.future.each do |event| %>
    <li><span class="role"><%= event.event_day.strftime '%d.%m.%y' %></span> <span class="event"><%= link_to event.title, event %> </span><span class="role"> <% if false %> - Participants : <%= event.users.size%></span>(<%= link_to 'Edit', edit_event_path(event) %>, <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>)<%end%></li>
    <% end %>
  </ul>
  <h2>Folks</h2>
  <ul >
    <% @users.each do |user| %>
    <li><span class="username"><%= link_to user.name, user %> </span><span class="role"><%=user.role%></span> (<%= link_to '@'+user.twitter_name, 'http://twitter.com/'+user.twitter_name %>)  </li>
    <% end %>
  </ul>
  <% unless @events.past.empty?%>
  <h2>Past Events</h2>
  <ul>
    <% @events.past.each do |event| %>
    <li><span class="role"><%= event.event_day.strftime '%d.%m.%y' %></span> <span class="event"><%= link_to event.title, event %> </span><span class="role"> <% if false %> - Participants : <%= event.users.size%></span>(<%= link_to 'Edit', edit_event_path(event) %>, <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>)<%end%></li>
    <% end %>
  </ul>
  <%end%>
	</div>
	<% if  user_signed_in?%>
	<aside>
			<h2>Ideas for next wapero?</h2>
	
		<ul class=ideas>
			<% @ideas.each do |idea| %>
				<li class=idea><%=idea.title%></li>
			<%end%>
			<li><form accept-charset="UTF-8" action="/ideas" class="new_idea" id="new_idea" method="post"><input name="authenticity_token" type="hidden" value="DVHKyNSsMazbMfbVXdqyD07yuJQgAoAIgiMD4wPV62U=">
			 
			    <input id="idea_title" name="idea[title]" size="30" type="text">
			  <div class="actions">
			    <input id="idea_submit" name="commit" type="submit" value="Create Idea">
			  </div>
			</form>
			</li>
		</ul>
		
	</aside>
<%end%>

