
<div class=main>
<ul>
	<h2>Future Events</h2>
<% @events.each do |event| %>
  <li><span class="role"><%= event.event_day.strftime '%d/%m/%y' %></span> <span class="event"><%= link_to event.title, event %> </span><span class="role">  - Participants : <%= event.users.size%></span><% if false %>(<%= link_to 'Edit', edit_event_path(event) %>, <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>)<%end%></li>
<% end %>
</ul>
<ul >
	<h2>Folks</h2>
<% @users.each do |user| %>
  <li><span class="username"><%= link_to user.name, user %> </span><span class="role"><%=user.role%></span> (<%= link_to '@'+user.twitter_name, 'http://twitter.com/'+user.twitter_name %>)  </li>
<% end %>
</ul>
</div>

