<h1>All the Waperos</h1>

<ul class="list">
<% @events.each do |event| %>
  <li><span class="event"><%= link_to event.title, event %> </span><span class="role"> - <%= event.event_day.strftime '%d/%m/%y %I:%M' %> - Participants : <%= event.users.size%></span><% if is_admin? %>  <br/>(<%= link_to 'Edit', edit_event_path(event) %>, <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>)<%end%></li>
<% end %>
</ul>

<% if is_admin? %><%= link_to 'New Event', new_event_path %><%end%>
