<p id="notice"><%= notice %></p>

<p>
  <b>Event day:</b>
  <%= @event.event_day %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
